.btnInput {
    border: none;
    color: white;
    background-color: #313131;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    font-size: clamp(0.7rem, 1.5vw, 1.15rem);
    box-sizing: border-box;
}

.quantity {
    display: flex;
    width: fit-content;
    height: 40px;
     --border-color: #191919;
}

.input {
    composes: btnInput;
    text-align: center;
    width: min-content;
    max-width: 3rem;
    height: 100%;
    border-radius: 0;
}

.input:focus {
    border: none;
    outline: none
}

.btn {
    composes: btnInput;
    user-select: none;
}

.btn:active {
    background-color: #292929;
}

.left {
    composes: btn;
    border-radius: var(--index) 0  0 var(--index);
    border-right: 1px solid var(--border-color);
}

.right {
    composes: btn;
    border-radius: 0 var(--index) var(--index) 0;
    border-left: 1px solid var(--border-color);

}

@media (width <= 676px) {
    .quantity {
        height: 40px;
        box-sizing: border-box;
    }

    .btnInput {
        padding: 0 0.7rem;
    }

    .input {
        max-width: 2rem;
    }
}