/* Card wrapper */
.card {
    max-width: 20vw;
    height: 100%;
    box-sizing: border-box;
}

/* Image container */
.imgContainer {
    display: flex;
    justify-content: center;
    background-color: #262626;
    padding: 2rem;
    box-sizing: border-box;
}

/* Product image */
.image {
    width: auto;
    max-height: 10vw;
}

.addToCartBtn {
    background-color: #E2B82F;
    border: none;
    border-radius: var(--radius);
    padding: 0.5rem;
    font-size: 12px;
    font-family: "GFS Didot", serif;
    font-weight: 500;
    transition: transform 0.1s ease;

}

.addToCartBtn:active {
    background-color: #cca62b;
    transform: scale(0.97)
}

/* Add to cart wrapper */
.addToCart {
    display: flex;
    gap: 20px;
    max-height: 10vh;
    height: 5vh;
    --radius: 5px;

}

.productData {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceAndQuantity {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    font-size: clamp(0.5rem, 1.2vw, 3rem);
}

.price {
    font-size: clamp(0.5rem, 1.2vw, 3rem);
    font-weight: 700;
}

.quantityBtn:active {
    background-color: #222222;
}