.card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5rem;
    box-sizing: border-box;
    position: relative;
    padding-right: 10rem;
}

.image {
    width: 200px;
}

.cardData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    box-sizing: border-box;
    width: 50%;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

.price {
    color: #E2B82F;
    font-size: clamp(1.1rem, 2vw, 1.7rem);
}

.xDiv {
    position: absolute;
    top: 0;
    right: 1rem;
}
