
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 1rem var(--index);
    margin-top: 5rem;
}

.logo {
    width: clamp(12rem, 16vw, 20rem)
}

.text {
    font-size: clamp(0.6rem, 2vw, 3rem)
}

@media (width <= 800px) {
    .footer {
        padding: 0.5rem var(--index);
        flex-direction: column;
    } 

}