.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: clamp(1.5rem, 4vw, 7rem);
    margin: 0;
    margin-right: clamp(0.2rem, 1vw, 3rem);
    height: 100%;
}

.iconContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.navIcon {
    width: clamp(0.5rem, 3vw, 4rem);
    height: auto;
    min-width: 30px;
    user-select: none;
}

.cartLength {
    position: absolute;
    bottom: 65%;
    left: 65%;
    border-radius: 20px;
    background-color: #E2B82F;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

@media (width <= 676px) {
    .cartLength {
        height: 20px;
        width: 20px;
        font-size: 14px;
    }
}