.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: clamp(2rem, 4vw, 7rem);
    margin: 0;
    margin-right: clamp(0.2rem, 1vw, 3rem);
    height: 100%;
}

.iconContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.navIcon {
    width: clamp(2rem, 3vw, 4rem);
    height: auto;
}