@font-face {
    font-family: "GFS Didot";
    src: url("./assets/GFS-Didot.ttf") format("truetype");
}

html, body, #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "GFS Didot", serif;
    background-color: #1b1b1b;
    color: white;

    --margin: 5%;
    --index: 4rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


@media (width <= 1000px) {
    html, body, #root {
        --index: 2rem;
    }
}

@media (width <= 676px) {
    html, body, #root {
        --index: 1rem;

    }
}