@font-face {
    font-family: "GFS Didot";
    src: url("./assets/GFS-Didot.ttf") format("truetype");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "GFS Didot", serif;
    background-color: #1b1b1b;
}